<head>
  <script>
    window.__carcode = {
      /* Do not attach default floating button to page */
      skipButton: true
    }
  </script>
  <!-- Install default CarCode script -->
  <script src='https://dev-dsg11-www.carcodesms.com/widgets/s/[WIDGET_ID].js' type='text/javascript' async defer></script>
</head>
<body>
  <!-- ... -->
  <!-- Add button(s) to VDPs (vehicle details page) or SRPs (vehicle search results pages) -->
  <button class="sms-button" data-widget="livechat">
    Chat
  </button>
  <button class="sms-button" data-widget="sms">
    Text us
  </button>
  <button class="sms-button" data-widget="facebook">
    Facebook
  </button>
  <!-- ... -->
</body>