<script type='text/javascript'>
    window.__carcode = {
        /* Do not attach default floating button to page */
        skipButton: true,
        /* Skip widget menu and open directly SMS form by clicking SDK button */
        sdkWidget: 'sms',
        /* Do not try to open sms messenger on mobile phones */
        skipMobileApp: true,
        /* Disable all analytics */
        disableGoogleAnalytics: true,
        disableEdwAnalytics: true,
        disableGtmAnalytics: true,
        /* Open form even for mobile experience */
        alwaysOpenForm: true,
        /* Use 'bubble' canned messages in SMS form */
        cannedMessagesType: 'bubble',
        /* Use custom text for welcome message in SMS form */
        optOutText: 'You can opt-out by texting STOP',
    };
</script>
<script src='https://dev-dsg11-www.carcodesms.com/widgets/s/v5zasx.js' type='text/javascript' async defer></script>